<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Weather App - Display</title>
    </head>
    <body>
        <div class="container">
            <h1>Weather Information</h1>
            <ul>
                <li><strong>City:</strong> <span th:text="${weather.city}"></span></li>
                <li><strong>Date:</strong> <span th:text="${weather.date}"></span></li>
                <li><strong>Temperature:</strong> <span th:text="${weather.temperature}"></span></li>
                <li><strong>Feels Like:</strong> <span th:text="${weather.feelsLike}"></span></li>
                <li><strong>Min Temperature:</strong> <span th:text="${weather.minTemperature}"></span></li>
                <li><strong>Max Temperature:</strong> <span th:text="${weather.maxTemperature}"></span></li>
                <li><strong>Pressure:</strong> <span th:text="${weather.pressure}"></span></li>
                <li><strong>Wind Speed:</strong> <span th:text="${weather.windSpeed}"></span></li>
                <li><strong>Humidity:</strong> <span th:text="${weather.humidity}"></span></li>
            </ul>
        </div>
    </body>
</html>
