<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data</title>
</head>
<body>

<h1>Weather Information</h1>

<table border="1">
    <tr>

        <th>Town</th>
        <th>Date</th>
        <th>Temperature Now</th>
        <th>Temperature Min</th>
        <th>Temperature Max</th>
        <th>Pressure</th>
        <th>Humidity</th>
        <th>Wind Speed</th>
        <th>Temperature Feels</th>
    </tr>

    <!-- Используйте Thymeleaf-выражения для отображения данных -->
    <tr>

        <td th:text="${weather.town}"></td>
        <td th:text="${weather.date}"></td>
        <td th:text="${weather.temperatureNow}"></td>
        <td th:text="${weather.temperatureMin}"></td>
        <td th:text="${weather.temperatureMax}"></td>
        <td th:text="${weather.pressure}"></td>
        <td th:text="${weather.humidity}"></td>
        <td th:text="${weather.windSpeed}"></td>
        <td th:text="${weather.temperatureFeels}"></td>
    </tr>

</table>

</body>
</html>