<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Weather App - Display</title>
    </head>
    <body>
    <div th:switch="${weathers}">
        <h2 th:case="null">No users found</h2>
        <div th:case="*">
            <h2>Weathers</h2>
            <table border="1">
                <thead>
                <tr>
                    <th>Town</th>
                    <th>Date</th>
                    <th>Temperature Now</th>
                    <th>Temperature Min</th>
                    <th>Temperature Max</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                    <th>Wind Speed</th>
                    <th>Temperature Feels</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="weather : ${weathers}">
                    <td th:text="${weather.town}"></td>
                    <td th:text="${weather.date}"></td>
                    <td th:text="${weather.temperatureNow}"></td>
                    <td th:text="${weather.temperatureMin}"></td>
                    <td th:text="${weather.temperatureMax}"></td>
                    <td th:text="${weather.pressure}"></td>
                    <td th:text="${weather.humidity}"></td>
                    <td th:text="${weather.windSpeed}"></td>
                    <td th:text="${weather.temperatureFeels}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>
